Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [6]:
# combine_df = train_df.copy()
# for i in range (0,100):
#     combine_df = combine_df.append(train_df, ignore_index = True, sort = False)
# combine_df.head()

In [7]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

вариант 1

In [8]:
%%time
def reg_sub(x, pattern='@[\w]*', sub_to=''):
    regs = re.findall(pattern, x)
    for reg in regs:
        x = re.sub(reg, sub_to, x).strip()
    return x

x = np.vectorize(reg_sub)

combine_df['clean_tweet'] = x(combine_df['tweet'])

Wall time: 218 ms

вариант 2

# ПОЧЕМУ НЕ РАБОТАЕТ ?????

In [23]:
from multiprocessing import Pool
from tqdm import tqdm_notebook as tqdm

In [ ]:
%%time
with Pool(6) as p:
    lemmas = list(tqdm(p.imap(reg_sub, combine_df['tweet']), total=len(combine_df)))

  0%|          | 0/49159 [00:00<?, ?it/s]

Вариант 3

In [11]:
%%time 
combine_df['clean_tweet1']=combine_df['tweet'].apply(reg_sub)

Wall time: 95.8 ms

In [12]:
np.array_equal(combine_df['clean_tweet'], combine_df['clean_tweet1'])

True

In [13]:
combine_df.head()

,id,label,tweet,clean_tweet,clean_tweet1
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause they...,thanks for #lyft credit i can't use cause they...
2,3,0.0,bihday your majesty,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation

2. Изменим регистр твитов на нижний с помощью .lower()

In [14]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].str.lower()

In [15]:
combine_df['clean_tweet1'] = combine_df['clean_tweet1'].str.lower()

In [16]:
np.array_equal(combine_df['clean_tweet'], combine_df['clean_tweet1'])

True

3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

Вариант 1

In [17]:
%%time
def reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        try:
            initializer = next(it)
        except StopIteration:
            raise TypeError('reduce() of empty sequence with no initial value')
    accum_value = initializer
    for x in it:
        accum_value = function(accum_value, x)
    return accum_value

def replace_from_dict(s, dict, prefix = ''):
    return reduce(lambda x, y: x.replace(y, prefix+dict[y]), dict, s)

x = np.vectorize(replace_from_dict)

combine_df['clean_tweet'] = x(combine_df['clean_tweet'], apostrophe_dict)
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x:' '.join(x.split()))

Wall time: 2.1 s

Вариант 2

In [18]:
%%time
def func(txt, dict, replacer=None):
    if replacer is  None:
        return  ' '.join([dict[re.sub(r'[\\.,"]', "", w)] if re.sub(r'[\\.,"]', "", w) in list(dict.keys()) 
                      else  w for w in txt.split()])
    #re.sub(r'[\.]', "", w)
    else: 
        return  ' '.join([replacer if w in list(dict.keys())  
                      else w for w in txt.split()])

combine_df['clean_tweet3'] = combine_df['clean_tweet1'].apply(lambda x:func(x, apostrophe_dict))

Wall time: 2.81 s

In [19]:
np.array_equal(combine_df['clean_tweet'], combine_df['clean_tweet3'])

False

In [20]:
combine_df['bool'] = combine_df['clean_tweet']!=combine_df['clean_tweet3']
df = combine_df[combine_df['bool'] == True]
df

,id,label,tweet,clean_tweet,clean_tweet1,clean_tweet3,bool
64,65,0.0,@user my wife whom i adore had to miss your po...,my wife whom i adore had to miss your poland s...,my wife whom i adore had to miss your poland s...,my wife whom i adore had to miss your poland s...,True
209,210,0.0,this really takes the piss. i'm so angry. just...,this really takes the piss. I am so angry. jus...,this really takes the piss. i'm so angry. just...,this really takes the piss. I am so angry. jus...,True
225,226,0.0,"""there's a reason why two people stay together...","""there has / there is a reason why two people ...","""there's a reason why two people stay together...",there has / there is a reason why two people s...,True
232,233,1.0,if you hold open a door for a woman because sh...,if you hold open a door for a woman because sh...,if you hold open a door for a woman because sh...,if you hold open a door for a woman because sh...,True
258,259,0.0,#itako#alone#it's fine. a little.,#itako#alone#it has / it is fine. a little.,#itako#alone#it's fine. a little.,#itako#alone#it's fine. a little.,True
...,...,...,...,...,...,...,...
48274,48275,NaN,"what i did today , for himself ,will make a fu...","what i did today , for himself ,will make a fu...","what i did today , for himself ,will make a fu...","what i did today , for himself ,will make a fu...",True
48548,48549,NaN,@user you're so fucking gullible. of course th...,you are so fucking gullible. of course they di...,you're so fucking gullible. of course they did...,you are so fucking gullible. of course they di...,True
48830,48831,NaN,"@user @user the line ""don't be an idiot like m...","the line ""do not be an idiot like most human m...","the line ""don't be an idiot like most human ma...",the line do not be an idiot like most human ma...,True
49057,49058,NaN,"@user ""we're all in this together"" sounds swel...","""we are all in this together"" sounds swell unt...","""we're all in this together"" sounds swell unti...","we are all in this together"" sounds swell unti...",True
49125,49126,NaN,@user @user i'd be ashamed of my state if i to...,I had / I would be ashamed of my state if i to...,i'd be ashamed of my state if i took any respo...,I had / I would be ashamed of my state if i to...,True

In [21]:
re.sub(r'[\\.,"]', "", '"..\\\do\.,"')

'do'

In [22]:
combine_df['tweet'][64]

"@user my wife whom i adore had to miss your poland show because she had surgery. her name is bridget &amp; she's my everything.  "

In [23]:
combine_df['clean_tweet'][64]

'my wife whom i adore had to miss your poland show because she had surgery. her name is bridget &amp; she has / he is my everything.'

In [24]:
combine_df['clean_tweet3'][64]

'my wife whom i adore had to miss your poland show because she had surgery. her name is bridget &amp; she has / she is my everything.'

In [25]:
combine_df['tweet'][48830]

'@user @user the line "don\'t be an idiot like most human males". same line about females would cause an uproar. '

In [26]:
combine_df['clean_tweet'][48830]

'the line "do not be an idiot like most human males". same line about females would cause an uproar.'

In [27]:
combine_df['clean_tweet3'][48830]

'the line do not be an idiot like most human males". same line about females would cause an uproar.'

4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [28]:
%%time
x = np.vectorize(replace_from_dict)
combine_df['clean_tweet'] = x(combine_df['clean_tweet'], short_word_dict)
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x:' '.join(x.split()))

Wall time: 1.85 s

In [29]:
%%time
combine_df['clean_tweet4'] = combine_df['clean_tweet3'].apply(lambda x:func(x, short_word_dict))

Wall time: 2.51 s

In [30]:
np.array_equal(combine_df['clean_tweet3'], combine_df['clean_tweet4'])

False

In [31]:
combine_df['bool'] = combine_df['clean_tweet3']!=combine_df['clean_tweet4']
df = combine_df[combine_df['bool'] == True]
df

,id,label,tweet,clean_tweet,clean_tweet1,clean_tweet3,bool,clean_tweet4
3,4,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...
46,47,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...
96,97,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...
100,101,0.0,there are some truly sick ppl out there.,thearee aaree some tareyouly sI seek people oy...,there are some truly sick ppl out there.,there are some truly sick ppl out there.,True,there are some truly sick people out there.
117,118,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...
...,...,...,...,...,...,...,...,...
48946,48947,NaN,it's amazing how a bit of recognition for ur h...,it has / it is amazingarein how a bit of areec...,it's amazing how a bit of recognition for ur h...,it has / it is amazing how a bit of recognitio...,True,it has / it is amazing how a bit of recognitio...
48981,48982,NaN,@user i will never understand why people in c...,i will neveare youndearestand why people in co...,i will never understand why people in college ...,i will never understand why people in college ...,True,i will never understand why people in college ...
49133,49134,NaN,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...
49134,49135,NaN,in life u will grow to learn some pple will wo...,in life you will gareinareow to leaaren some p...,in life u will grow to learn some pple will wo...,in life u will grow to learn some pple will wo...,True,in life you will grow to learn some pple will ...
49144,49145,NaN,when ur the joke ur defensive towards everythi...,when youare the joke youare defensive towaared...,when ur the joke ur defensive towards everythi...,when ur the joke ur defensive towards everythi...,True,when you are the joke you are defensive toward...

In [32]:
combine_df['tweet'][3]

'#model   i love u take with u all the time in urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91\x85ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦  '

In [33]:
combine_df['clean_tweet3'][3]

'#model i love u take with u all the time in urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91 ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦'

In [34]:
combine_df['clean_tweet4'][3]

'#model i love you take with you all the time in urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91 ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦'

5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [35]:
%%time
combine_df['clean_tweet5'] = combine_df['clean_tweet4'].apply(lambda x:func(x, emoticon_dict, replacer= ' '))

Wall time: 723 ms

In [36]:
combine_df['bool'] = combine_df['clean_tweet4']!=combine_df['clean_tweet5']
df = combine_df[combine_df['bool'] == True]
df

,id,label,tweet,clean_tweet,clean_tweet1,clean_tweet3,bool,clean_tweet4,clean_tweet5
63,64,0.0,you've really hu my feelings :(,yoyou have areeally hyou my feelingareins :(,you've really hu my feelings :(,you have really hu my feelings :(,True,you have really hu my feelings :(,you have really hu my feelings
128,129,0.0,yeah! new buttons in the mail for me ð the...,yeah! new byouttons in the mail foare me ð ...,yeah! new buttons in the mail for me ð the...,yeah! new buttons in the mail for me ð they...,True,yeah! new buttons in the mail for me ð they...,yeah! new buttons in the mail for me ð they...
150,151,0.0,when you know yall 2 aint going know where :) ...,when yoyou know yall 2 aint gareinoingarein kn...,when you know yall 2 aint going know where :) ...,when you know yall 2 aint going know where :) ...,True,when you know yall 2 aint going know where :) ...,when you know yall 2 aint going know where #...
199,200,0.0,my hea is with #orlando right now. i truly can...,my hea is with #oarelando areigareinht now. i ...,my hea is with #orlando right now. i truly can...,my hea is with #orlando right now. i truly can...,True,my hea is with #orlando right now. i truly can...,my hea is with #orlando right now. i truly can...
201,202,0.0,it seems like the only place with action here ...,it seems like the only place with action heare...,it seems like the only place with action here ...,it seems like the only place with action here ...,True,it seems like the only place with action here ...,it seems like the only place with action here ...
...,...,...,...,...,...,...,...,...,...
48836,48837,NaN,iâm glad i finally got to see you again :) #...,iâm gareinlad i finally gareinot to see yoyo...,iâm glad i finally got to see you again :) #...,iâm glad i finally got to see you again :) #...,True,iâm glad i finally got to see you again :) #...,iâm glad i finally got to see you again #f...
48956,48957,NaN,"@user hill 10km in 1:14 up mountains, hills wh...","hill 10km in 1:14 youp moyountains, hills whea...","hill 10km in 1:14 up mountains, hills where un...","hill 10km in 1:14 up mountains, hills where un...",True,"hill 10km in 1:14 up mountains, hills where un...","hill 10km in 1:14 up mountains, hills where un..."
49003,49004,NaN,something to brighten your day... or possibly ...,somethingarein to bareigareinhten yoyouare day...,something to brighten your day... or possibly ...,something to brighten your day... or possibly ...,True,something to brighten your day... or possibly ...,something to brighten your day... or possibly ...
49040,49041,NaN,#100daysofpositivechange ... :) what do you th...,#100daysofpositivechangareine ... :) what do y...,#100daysofpositivechange ... :) what do you th...,#100daysofpositivechange ... :) what do you th...,True,#100daysofpositivechange ... :) what do you th...,#100daysofpositivechange ... what do you thi...
49131,49132,NaN,tomorrow is gonna be a big day! we are going t...,tomoareareow is gareinonna be a bigarein day! ...,tomorrow is gonna be a big day! we are going t...,tomorrow is gonna be a big day! we are going t...,True,tomorrow is gonna be a big day! we are going t...,tomorrow is gonna be a big day! we are going t...

In [37]:
combine_df['tweet'][63]

"you've really hu my feelings :(  "

In [38]:
combine_df['clean_tweet4'][63]

'you have really hu my feelings :('

In [39]:
combine_df['clean_tweet5'][63]

'you have really hu my feelings  '

6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [40]:
%%time
combine_df['clean_tweet6'] = combine_df['clean_tweet5'].str.replace(r'[^\w\s]+', ' ')

<timed exec>:1: FutureWarning: The default value of regex will change from True to False in a future version.

Wall time: 247 ms

7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [41]:
%%time
combine_df['clean_tweet7'] = combine_df['clean_tweet6'].str.replace(r'[^a-zA-Z0-9]', ' ')

<timed exec>:1: FutureWarning: The default value of regex will change from True to False in a future version.

Wall time: 306 ms

8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [42]:
%%time
combine_df['clean_tweet8'] = combine_df['clean_tweet7'].str.replace(r'[^a-zA-Z]', ' ')

<timed exec>:1: FutureWarning: The default value of regex will change from True to False in a future version.

Wall time: 338 ms

9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [43]:
%%time
def delete_words_by_len(txt, length = 1):
    return ' '.join([w for w in txt.split() if len(w)>length])

combine_df['clean_tweet9'] = combine_df['clean_tweet8'].apply(lambda x:
                                                              delete_words_by_len(x))

Wall time: 187 ms

In [44]:
combine_df['bool'] = combine_df['clean_tweet8']!=combine_df['clean_tweet9']
df = combine_df[combine_df['bool'] == True]
df

,id,label,tweet,clean_tweet,clean_tweet1,clean_tweet3,bool,clean_tweet4,clean_tweet5,clean_tweet6,clean_tweet7,clean_tweet8,clean_tweet9
0,1,0.0,@user when a father is dysfunctional and is s...,when a fatheare is dysfyounctional and is so s...,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...,True,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...,when a father is dysfunctional and is so selfi...,when father is dysfunctional and is so selfish...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks foare #lyft careedit i cannot youse cay...,thanks for #lyft credit i can't use cause they...,thanks for #lyft credit i cannot use cause the...,True,thanks for #lyft credit i cannot use cause the...,thanks for #lyft credit i cannot use cause the...,thanks for lyft credit i cannot use cause the...,thanks for lyft credit i cannot use cause the...,thanks for lyft credit i cannot use cause the...,thanks for lyft credit cannot use cause they d...
3,4,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,True,#model i love you take with you all the time i...,#model i love you take with you all the time i...,model i love you take with you all the time i...,model i love you take with you all the time i...,model i love you take with you all the time i...,model love you take with you all the time in ur
4,5,0.0,factsguide: society now #motivation,factsgareinyouide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,True,factsguide: society now #motivation,factsguide: society now #motivation,factsguide society now motivation,factsguide society now motivation,factsguide society now motivation,factsguide society now motivation
5,6,0.0,[2/2] huge fan fare and big talking before the...,[2/2] hyougareine fan faaree and bigarein talk...,[2/2] huge fan fare and big talking before the...,[2/2] huge fan fare and big talking before the...,True,[2/2] huge fan fare and big talking before the...,[2/2] huge fan fare and big talking before the...,2 2 huge fan fare and big talking before the...,2 2 huge fan fare and big talking before the...,huge fan fare and big talking before the...,huge fan fare and big talking before they leav...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thoyougareinht factoarey: left-areigareinht po...,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...,True,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...,thought factory left right polarisation tru...,thought factory left right polarisation tru...,thought factory left right polarisation tru...,thought factory left right polarisation trump ...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feelingarein like a mearemaid ð #haiareflip...,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...,True,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð hairflip neverread...,feeling like a mermaid hairflip neverread...,feeling like a mermaid hairflip neverread...,feeling like mermaid hairflip neverready forma...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillaarey #campaigareinned today in #ohio((oh...,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) &am...,True,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg amp ...,hillary campaigned today in ohio omg amp ...,hillary campaigned today in ohio omg amp ...,hillary campaigned today in ohio omg amp used ...
49157,49158,NaN,"happy, at work conference: right mindset leads...","happy, at woarek confeareence: areigareinht mi...","happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads...",True,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads...",happy at work conference right mindset leads...,happy at work conference right mindset leads...,happy at work conference right mindset leads...,happy at work conference right mindset leads t...
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...","my songarein ""so gareinlad"" fareee download! #...","my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze #ne...",True,"my song ""so glad"" free download! #shoegaze #ne...","my song ""so glad"" free download! #shoegaze #ne...",my song so glad free download shoegaze ne...,my song so glad free download shoegaze ne...,my song so glad free download shoegaze ne...,my song so glad free download shoegaze newmusi...

In [45]:
combine_df['clean_tweet8'][5]

'      huge fan fare and big talking before they leave  chaos and pay disputes when they get there   allshowandnogo'

In [46]:
combine_df['clean_tweet9'][5]

'huge fan fare and big talking before they leave chaos and pay disputes when they get there allshowandnogo'

10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [47]:
import nltk
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from nltk import tokenize as tknz

In [48]:
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SR_Ad\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SR_Ad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SR_Ad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [49]:
%%time
combine_df['tweet_token'] = combine_df['clean_tweet9'].apply(lambda x: tknz.word_tokenize(x))

Wall time: 5.87 s

11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [50]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

In [51]:
combine_df['tweet_token'] = combine_df['tweet_token'].apply(lambda x: [word for word in x if not word in stop_words])

12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [52]:
from nltk.stem.snowball import SnowballStemmer
snowball = SnowballStemmer('english')

In [53]:
%%time
combine_df['tweet_stemmed'] = combine_df['tweet_token'].apply(lambda x: [snowball.stem(word) for word in x])

Wall time: 5.92 s

13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [54]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
lemmatizer = WordNetLemmatizer()

In [55]:
combine_df['tweet_lemmatized'] = combine_df['tweet_token'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

In [56]:
combine_df = combine_df.drop(['clean_tweet','clean_tweet1','clean_tweet3','clean_tweet4','clean_tweet5','clean_tweet6',
                             'clean_tweet7', 'clean_tweet8','bool'], axis=1)

In [57]:
combine_df['clean_tweet'] = combine_df['clean_tweet9'] 
combine_df = combine_df.drop(['clean_tweet9'], axis=1)

In [58]:
combine_df

,id,label,tweet,tweet_token,tweet_stemmed,tweet_lemmatized,clean_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,"[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy...",when father is dysfunctional and is so selfish...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,"[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee...",thanks for lyft credit cannot use cause they d...
2,3,0.0,bihday your majesty,"[bihday, majesty]","[bihday, majesti]","[bihday, majesty]",bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,"[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]",model love you take with you all the time in ur
4,5,0.0,factsguide: society now #motivation,"[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]",factsguide society now motivation
...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,"[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump...","[thought, factory, left, right, polarisation, ...",thought factory left right polarisation trump ...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,"[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo...","[feeling, like, mermaid, hairflip, neverready,...",feeling like mermaid hairflip neverready forma...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,"[hillary, campaigned, today, ohio, omg, amp, u...","[hillari, campaign, today, ohio, omg, amp, use...","[hillary, campaigned, today, ohio, omg, amp, u...",hillary campaigned today in ohio omg amp used ...
49157,49158,NaN,"happy, at work conference: right mindset leads...","[happy, work, conference, right, mindset, lead...","[happi, work, confer, right, mindset, lead, cu...","[happy, work, conference, right, mindset, lead...",happy at work conference right mindset leads t...
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...","[song, glad, free, download, shoegaze, newmusi...","[song, glad, free, download, shoegaz, newmus, ...","[song, glad, free, download, shoegaze, newmusi...",my song so glad free download shoegaze newmusi...

In [59]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                49159 non-null  int64
 1   label             31962 non-null  float64
 2   tweet             49159 non-null  object
 3   tweet_token       49159 non-null  object
 4   tweet_stemmed     49159 non-null  object
 5   tweet_lemmatized  49159 non-null  object
 6   clean_tweet       49159 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.6+ MB

14. Сохраним результат предобработки в pickle-файл.

In [60]:
import pickle
combine_df.to_pickle("resHW01.pkl")